In [12]:
import numpy as np
import pandas as pd
import Variables
from IPython.display import clear_output

In [2]:
rows = [1,2,3,4,5,6,7,8,9]
columns = [1,2,3,4,5,6,7,8,9]

In [3]:
board_ = pd.DataFrame(np.array(np.zeros((9,9))), rows, columns)

In [4]:
board_

     1    2    3    4    5    6    7    8    9
1  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0
2  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0
3  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0
4  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0
5  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0
6  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0
7  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0
8  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0
9  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0

In [5]:
def update_board(newboard):
    Variables.board = ''
    for i in range(1,len(columns)+1):
        for j in range(1,len(rows)+1):
            Variables.board += str(int(float(newboard.loc[i,j])))+' '
        Variables.board += '\n'

In [6]:
update_board(board_)

In [7]:
print(Variables.board)

0 0 0 0 0 0 0 0 0
0 0 0 0 0 0 0 0 0
0 0 0 0 0 0 0 0 0
0 0 0 0 0 0 0 0 0
0 0 0 0 0 0 0 0 0
0 0 0 0 0 0 0 0 0
0 0 0 0 0 0 0 0 0
0 0 0 0 0 0 0 0 0
0 0 0 0 0 0 0 0 0

In [8]:
def check_win1(board):
    win = False
    for i in columns:
        col = board[i]
        for first in range(9,2,-1):
            if (col[first]==1) and (col[first-1]==1) and (col[first-2]==1):
                win = True
    return win

In [9]:
def check_win2(board):
    win = False
    for i in columns:
        col = board[i]
        for first in range(9,2,-1):
            if (col[first]==2) and (col[first-1]==2) and (col[first-2]==2):
                win = True
    return win

In [15]:
def Start_game(Player1=1, Player2=2):
    board_ = pd.DataFrame(np.array(np.zeros((9,9))), rows, columns)
    board_ = board_.astype(str)
    update_board(board_)
    current_player = 1
    while (True):
        clear_output()
        print(Variables.board)
        
        if (check_win1(board_) == True):
            print("PLAYER 1 WINS!!!")
            break
        if (check_win2(board_) == True):
            print("PLAYER 2 WINS!!!")
            break
            
        move = int(input(f"Player{current_player} Which column do you want to drop in: "))
        if (move <= 9):
            if board_.iloc[move-1][9] != '0.0':
                print(str(board_.iloc[move][9]))
                continue
            else:
                for i in range(len(board_[move]),0,-1):
                    if str(board_[move][i]) == '0.0':
                        board_[move][i] = current_player
                        update_board(board_)
                        if (current_player == 1):
                            current_player = 2
                        else:
                            current_player = 1
                        break
        else:
            print("Invalid input")

In [16]:
Start_game()

0 0 0 0 0 0 0 0 0
0 0 0 0 0 0 0 0 0
0 0 0 0 0 0 0 0 0
0 0 0 0 0 0 0 0 0
0 0 0 0 0 0 0 0 0
0 0 0 0 0 0 0 0 0
2 2 0 0 1 0 0 0 0
1 1 0 0 1 2 1 0 0
1 1 0 2 1 2 2 0 2

PLAYER 1 WINS!!!

In [56]:
board_

     1    2    3    4    5    6    7    8    9
1  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0
2  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0
3  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0
4  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0
5  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0
6  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0
7  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0
8  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0
9  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0

    123

    234

    345

    456

    567

    678

    789